body {
    background-color: #ffffff;
    width: cover;
    padding: 0;
  }
  img {
    width: 1000px;
  }
  h1 {
    color: white;
    font-size: 50px;
  }
  h2 {
    color: black;
    text-align: center;
  }
  p {
    font-style: italic;
    font-size: 18px;
  }
  #hero {
    background-image: url('leaves.jpg'); height: 500px;
    background-size: cover;
    padding-top: 230px !important;
    margin: 0%;
    text-align: center;
  }
