a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
body {
    background-color: #ffffff;
    width: cover;
    padding: 0;
    padding-bottom: 50px;
  }
  img {
    width: 1000px;
  }
  h1 {
    color: white;
    font-size: 50px;
  }
  h2 {
    color: black;
    text-align: center;
  }
  h3 {
    color: black;
    text-align: center;
    padding-top: 50px;
    font-size: 45px;
  }
  h5 {
    color: black;
    font-size: 20px;
    padding-top: 15px;
  }
  p {
    font-style: italic;
    font-size: 15px;
    padding-bottom: 0px;
  }

  /* Homepage */
#hero {
    background-image: url('leaves.jpg'); height: 550px;
    background-size: cover;
    padding-top: 240px !important;
    margin: 0px;
    text-align: center;
  }
  .bg-light {
    background-color: white !important;
  }
  .jumbotron {
    background-color: white;
    padding-top: 0%;
    padding-bottom: 0%;
  }
  .jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
#subhero {
  padding-bottom: 80px;
  padding-top: 30px;
  padding-left: 290px;
}
#ordernow {
  text-align: center;
}
/* Footer */
#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
    background-color: black;
    font-size: 10px;
    text-align: center;
    border: 0px;
    position: absolute;
  }
/* Navbar (except Homepagge) */
#navbar {
  border-bottom: 1px solid rgb(121, 120, 120);
}

/* News */
#news {
  padding-top: 50px;
  margin-left: 22px;
}
.card {
  padding: 0px;
  border: white;
}
/* Form */
#heroform {
  background-image: url('sprout.jpg'); height: 550px;
  background-size: cover;
  padding-top: 240px !important;
  margin: 0px;
  text-align: center;
}
