body {
    background-color: #ffffff;
    width: cover;
    padding: 0;
    margin-bottom: 24px;
  }
  img {
    width: 1000px;
  }
  h1 {
    color: white;
    font-size: 50px;
  }
  h2 {
    color: black;
    text-align: center;
  }
  h3 {
    color: black;
    text-align: center;
    padding-top: 50px;
    font-size: 45px;
  }
  p {
    font-style: italic;
    font-size: 10px;
  }

#hero {
    background-image: url('leaves.jpg'); height: 550px;
    background-size: cover;
    padding-top: 240px !important;
    margin: 0px;
    text-align: center;
  }
  .bg-light {
    background-color: white !important;
  }
  .jumbotron {
    background-color: white;
    padding-top: 0%;
    padding-bottom: 0%;
  }
  .jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

/* Footer */
  .container-fluid {
    padding-top: 20px;
    color: white;
    background-color: black;
  }